@* <div class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="">PacketTracer</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavMenu">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill"></span> Home
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill"></span> Counter
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested"></span> Weather
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="track">
                    <span class="bi bi-list-nested"></span> Tracking
                </NavLink>
            </li>

        </ul>
    </div>
</div> *@


<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PacketTracer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="track">
                        <span class="bi bi-list-nested"></span> Tracking
                    </NavLink>
                </li>
            </ul>
            <span class="navbar-text">
                <NavLink class="nav-link" href="#">
                    <span class="bi bi-list-nested"></span> Login
                </NavLink>
            </span>
        </div>
    </div>
</nav>



@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PacketTracer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="track">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tracking
            </NavLink>
        </div>
    </nav>
</div>
 *@
